.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.menu img{
  display: block;
  width: min(45vw, 500px);
  height: auto;
  border-radius: 5vw;
  box-shadow: 0px 0px 13px rgb(85, 36, 15);
  border-color: rgba(255, 255, 255, 0.19);
  border-style: solid;
  border-width: 1px;
}

@media (max-width: 600px){
  .menu{
    flex-direction: column;
  }
  .menu img{
    width: min(90vw, 700px);
  }
}