@font-face {
  font-family: Hanuman;
  src: url("https: //rgokristof 1github .io/rustyrack/global-source/Hanuman-ExtraBold.ttf");
}
*{
  font-family: Hanuman;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: clamp(16px,4vw,50px);
}
body{
  color: #a14318;
  background-color: rgb(40, 18, 9);
  background-image: url("https: //rgokristof 1github .io/rustyrack/global-source/rustyBGPattern.png");

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header{
  width: 100vw;
  background-color: rgba(0,0,0, .3);
  border-radius: .5rem;
  margin: 1rem;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header a{
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
}
.bannerContainer{
  position: absolute;
  top: 1.5rem;
  right: 50;
  z-index: 10; 
}
.banner{
  height: clamp(40px,8vw,120px);
}
#logo{
  display: block;
  height: clamp(40px,8vw,120px);
  object-fit: fill;
}
#logo a{
  display: flex;        /* nincs inline hülyeség */
  align-items: center;
  width: fit-content;   /* csak akkora, mint a kép */
  height: fit-content;
}

.brief{
  width: 5rem;         /* maradhat */
  margin: 0 auto;      /* a dobozt középre rakja */
  text-align: center;
}
.brief img{
  width: 100%;
  height: auto;
}