@font-face {
  font-family: Hanuman;
  src: url("/global-source/Hanuman-ExtraBold.ttf");
}
*{
  font-family: Hanuman;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(40, 18, 9);
  background-image: url("rustyBGPattern.png");

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header{
  width: 100vw;
  background-color: rgba(0,0,0, .3);
  border-radius: .5rem;
  margin: 1rem;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.bannerContainer{
  position: absolute;
  top: 1.5rem;
  right: 50;
  z-index: 10; 
}
.banner{
  height: clamp(40px,8vw,120px);
}
#logo{
  display: block;
  height: clamp(40px,8vw,120px);
  object-fit: fill;
}
#logo a{
  display: flex;        /* nincs inline hülyeség */
  align-items: center;
  width: fit-content;   /* csak akkora, mint a kép */
  height: fit-content;
}
.brief img{
  width: 100%;
  height: 100%;
}
.brief{
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: .5rem;
  line-height: 2rem;
  width: 5rem;
}
